### Testing to see if can read the already created salted graph pickle and do a basic accessibility analysis

In [9]:
import os, sys
import time
import networkx as nx
import pandas as pd

In [10]:
import GOSTnets as gn

In [11]:
pth = r"D:\GOST\Yemen\YEM" # change this path to your working folder
data_pth = os.path.join(pth, 'Round_3')

In [12]:
# read back your graph from step 1 from you saved pickle
G = nx.read_gpickle(os.path.join(data_pth, 'G_salty_time.pickle'))

In [13]:
gn.example_edge(G)

(0, 35636, {'Wkt': 'LINESTRING (44.2165745 15.3646484, 44.2167032 15.3659494, 44.2167203 15.3663506, 44.2167763 15.3673335, 44.2167973 15.3681592)', 'id': 24386, 'infra_type': 'secondary', 'osm_id': 108470243, 'country': 'YEM', 'key': 'edge_24386', 'length': 389.3715222365589, 'Type': 'legitimate', 'time': 28.03474960103224, 'mode': 'drive'})

In [14]:
gn.example_node(G)

(0, {'x': 44.2167973, 'y': 15.3681592})

## Load 2018 snapped origins

In [15]:
snapped_origins_2018 = pd.read_csv(r"D:\GOST\Yemen\origins\origins_1km_2018_snapped.csv")

In [16]:
snapped_origins_2018

,Unnamed: 0,Unnamed: 0.1,VALUE,geometry,Longitude,Latitude,NN,NN_dist
0,0,0,0.0,POINT (51.95958599175001 18.9870800120919),51.959586,18.987080,25697,4519.074785
1,1,1,0.0,POINT (51.96791932726685 18.9870800120919),51.967919,18.987080,69212,3699.253179
2,2,2,0.0,POINT (51.97625266278369 18.9870800120919),51.976253,18.987080,69212,2907.489221
3,3,3,0.0,POINT (51.98458599830052 18.9870800120919),51.984586,18.987080,69212,2186.732344
4,4,4,0.0,POINT (51.99291933381736 18.9870800120919),51.992919,18.987080,23638,1632.873854
...,...,...,...,...,...,...,...,...
549090,549090,549090,0.0,POINT (53.07625295100627 12.13708663845184),53.076253,12.137087,107508,54640.678832
549091,549091,549091,0.0,POINT (53.25958633237671 12.1204199879077),53.259586,12.120420,107790,41896.522092
549092,549092,549092,0.0,POINT (53.26791966789354 12.1204199879077),53.267920,12.120420,107790,41268.549592
549093,549093,549093,0.0,POINT (53.27625300341038 12.1204199879077),53.276253,12.120420,107790,40651.479952
549094,549094,549094,0.0,POINT (53.28458633892722 12.1204199879077),53.284586,12.120420,107790,40045.818445

In [17]:
snapped_destinations_2018 = pd.read_csv(r"D:\GOST\Yemen\facility_files\HeRAMS_2018_April_snapped.csv")

In [18]:
snapped_destinations_2018

,Unnamed: 0,FID,Functionality,YEHNP_PHCs,YEHNP_Hospitals,NameÂ of_Health_Facility,Latitude,Longitude,NameÂ ofÂ Governorate,NameÂ ofÂ District,...,Under-5 clinic services (P23) 2016,Malnutrition services (P25) 2016,Antenatal Care (P422) 2016,Skilled birth attendant (P423) 2016,Basic Emergency Obsteteric Care (P424) 2016,Emergency and Elective Surgery (S14) 2016,Comprehensive Emergency Obstetric Care (S424) 2016,geometry,NN,NN_dist
0,0,1101001,2.0,NaN,NaN,Saihan HC,14.349383,44.129400,Ibb,Al Qafr,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,POINT (44.1294 14.34938333),63069,129.410632
1,1,1101002,1.0,1.0,NaN,Alsahlh H U,14.340317,44.106633,Ibb,Al Qafr,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,POINT (44.10663333 14.34031667),123408,658.575487
2,2,1101003,2.0,NaN,NaN,Hadpan HU,14.337217,44.154167,Ibb,Al Qafr,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,POINT (44.15416667 14.33721667),6213,884.077062
3,3,1101004,1.0,NaN,NaN,Rapaph HC,14.312333,44.245667,Ibb,Al Qafr,...,1.0,1.0,0.5,0.5,0.5,0.0,0.0,POINT (44.24566667 14.31233333),105349,1476.665889
4,4,1101005,2.0,NaN,NaN,Alhamrorah HU,14.369783,44.064950,Ibb,Al Qafr,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,POINT (44.06495 14.36978333),121364,398.613971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,5032,2206007_T,2.0,NaN,NaN,Al Matiq HU(New),16.911940,43.185150,Sa'adah,Shada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (43.18515 16.91194),119135,3460.153682
4407,5034,2207005_T,2.0,NaN,NaN,Bani Saad Health Unit (NEW),16.774767,43.317217,Sa'adah,Adh Dhahir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (43.31721667 16.77476667),111787,743.339508
4408,5038,2404020_D1,3.0,NaN,NaN,Mashhour Clinic,12.814332,44.555107,Aden,Al Buraiqeh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (44.555107 12.814332),86354,200.053963
4409,5040,2804004_T,2.0,NaN,NaN,Dopot HU(temp),15.942983,52.738417,Al-Mahra,Al Ghaydah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (52.73841667 15.94298333),82338,60045.943060
4410,5041,2804008_T,2.0,NaN,NaN,Nashton HU (temp),15.820633,52.189700,Al-Mahra,Al Ghaydah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (52.1897 15.8206333),94064,311.380908

# Next Step: Graph Tool
### We have the graph, origins, and destinations; so the next step is to use graph tool to build the OD Matrix

In Windoes PowerShell, I ran this command:
```
docker run --name GT4 -p 8889:8889 -p 6006:6006 -it -v D:\GOST\Yemen\graphtool:/home/user/home -w /home/user tiagopeixoto/graph-tool bash
```

I had to modify the 'OD.py' file as it is set-up to run multiple jobs at once, but it ran and output an OD Matrix named "OD_matrix_driving.csv"

In [19]:
# let's read in the OD Matrix
OD = pd.read_csv(r"D:\GOST\Yemen\graphtool\OD_matrix_driving.csv")

In [26]:
OD

,Unnamed: 0,122882,24579,122884,122886,90119,122888,73734,8200,32779,...,114668,114669,114667,122862,122863,24558,8178,57331,50473,24569
0,3,5.024564e+04,4.476727e+04,5.060564e+04,5.096555e+04,5.278765e+04,5.132537e+04,1.631576e+03,1.871054e+04,5.381514e+04,...,5.465780e+04,5.513780e+04,5.417780e+04,5.059753e+04,5.011777e+04,4.589492e+03,5.447871e+04,1.881155e+04,1.799605e+04,4.633833e+04
1,6,1.573684e+04,1.811089e+04,1.609684e+04,1.645675e+04,2.123818e+04,1.681657e+04,4.680471e+04,4.566970e+04,1.516640e+04,...,2.096367e+04,2.144367e+04,2.048367e+04,2.334850e+04,2.286874e+04,4.976263e+04,1.449678e+04,5.000950e+04,4.986950e+04,9.307914e+03
2,16,9.166308e+04,1.012043e+05,9.202308e+04,9.238299e+04,1.066183e+05,9.274281e+04,5.971772e+04,4.385562e+04,9.523257e+04,...,9.607523e+04,9.655523e+04,9.559523e+04,1.070345e+05,1.065548e+05,6.003398e+04,9.797367e+04,3.960956e+04,4.080442e+04,8.996031e+04
3,20,2.217512e+04,2.419624e+04,2.253512e+04,2.289503e+04,1.623580e+04,2.325485e+04,5.289006e+04,5.434718e+04,1.991988e+04,...,2.654216e+04,2.702216e+04,2.606216e+04,2.274024e+04,2.226048e+04,5.584797e+04,1.540224e+04,5.868698e+04,5.854697e+04,1.803125e+04
4,22,4.031834e+03,2.716544e+04,4.391834e+03,4.582888e+03,2.880127e+04,4.223068e+03,5.377784e+04,4.988733e+04,2.650783e+03,...,7.225427e+03,7.705427e+03,6.745427e+03,3.240304e+04,3.192328e+04,5.673576e+04,8.592240e+03,5.422713e+04,5.408713e+04,1.034972e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36619,123971,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
36620,123972,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
36621,123973,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
36622,123974,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
36623,123975,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [29]:
OD = OD.set_index(OD.columns[0])

In [31]:
import numpy as np

In [32]:
OD = OD.replace([np.inf, -np.inf], np.nan)

## A very simple Accessibility Analysis

In [34]:
closest_facility_per_origin = OD.min(axis = 1)

In [38]:
closest_facility_per_origin.index

Int64Index([     3,      6,     16,     20,     22,     25,     26,     33,
                34,     55,
            ...
            123966, 123967, 123968, 123969, 123970, 123971, 123972, 123973,
            123974, 123975],
           dtype='int64', name='Unnamed: 0', length=36624)

In [39]:
results = pd.DataFrame([closest_facility_per_origin.index,closest_facility_per_origin]).transpose()

In [40]:
results

              0            1
0           3.0   100.110316
1           6.0  1082.910796
2          16.0  3242.234010
3          20.0   426.913075
4          22.0   298.749180
...         ...          ...
36619  123971.0  2979.114300
36620  123972.0   592.255468
36621  123973.0  2699.768884
36622  123974.0  2314.137657
36623  123975.0   860.955147

[36624 rows x 2 columns]

In [43]:
results.columns = ["NN", "travel_time_to_closest_facility"]

In [44]:
results

             NN  travel_time_to_closest_facility
0           3.0                       100.110316
1           6.0                      1082.910796
2          16.0                      3242.234010
3          20.0                       426.913075
4          22.0                       298.749180
...         ...                              ...
36619  123971.0                      2979.114300
36620  123972.0                       592.255468
36621  123973.0                      2699.768884
36622  123974.0                      2314.137657
36623  123975.0                       860.955147

[36624 rows x 2 columns]

## Now time to merge origins

In [46]:
snapped_origins_2018_copy = snapped_origins_2018

In [47]:
output = pd.merge(snapped_origins_2018_copy, results, on = "NN")

In [48]:
# Save baseline results
output.to_csv(r"D:\GOST\Yemen\graphtool\simple_accessibility_output1.csv")